@media only screen and (max-width: 670px) {
	.content{
    width: 100% !important;
    padding: 0px 10px !important;
    text-align: center !important;
	} 
	.main-content{
		display: block !important;
	}
	.title-content{
		width: 100%!important;
		padding: 0 30px !important;
		margin-top: 40px !important;

	}
	.description-content {
		width: 80% !important;
	}
	.container{
		width: 100%;
		height: 1800px !important;
		justify-content: center;
	}
}
@media only screen and (min-width: 670px)and (max-width:768px) {
	.content{
		width: 55% !important;
		padding: 0 30px !important;
		

	}
	.title-content{
		width: 45% !important;
		padding: 0 30px !important;
	}
	.container{
		width: 100%;
		height: 1200px;
		justify-content: center;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.content ,.title-content{
		width: 45% !important;
		padding: 0 30px !important;

	}
	.container{
		width: 100%;
		height: 1200px;
		justify-content: center;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.content ,.title-content{
		width: 40% !important;
		padding: 0 30px !important;

	}
	.container{
		width: 100%;
		height: 1200px;
		justify-content: center;
	}
	
}
@media only screen and (min-width: 1200px) and (main-width: 1600px) {
	.content ,.title-content{
		width: 40% !important;
		padding: 0 40px !important;

	}
	.container{
		width: 100%;
		height: 1200px;
		justify-content: center;
	}
	
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	width: 100%;
	height: 100vh;

}
.container{
	width: 100%;
	height: 1200px;
	justify-content: center;
}
img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.main-content{
	display: flex;
	justify-content: center;
	
}
.content {

	height: 50%;
	width: 35%;
	padding: 0 50px;
	
}
.title-content{
	width: 35%;
	padding: 0 50px;

}
.main {
	
	position: relative;

}

.control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 80px;
	
	cursor: pointer;
}

.prev {
	left: -10px;
}

.next {
	right: -10px;
}

.img-wrap {
	width: 100%;
	height: 42vh;
}

.list-img {
	display: flex;
	
}

.list-img div {
	cursor: pointer;
    padding: 5px;
    
    border: 5px solid white;
    flex: 1;
}

.list-img div.active {
	border: 5px solid #1b0edb;
}
.header-content{
	width: 100%;
    display: flex;
    justify-content: center;
    
    margin: 50px 0px;

}


.details-container {
	width: 50%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .details-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	height: 36px;
  }
  
  .details-label {
	font-weight: bold;
  }
  
  .details-value {
	font-style: italic;
  }
  
  .bid-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
  }
  
  .bid-button {
    width: 50%;
	height: 50px;
    background-color: #1b0edb;
    color: white;
    border: none;
    margin: 20px 0;
  
    cursor: pointer;
  }
  
  .description-container {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .description {
	width: 100%;
	display: flex;
    justify-content: center;
    height: 30%;
	margin-top: 50px;
  }
  .description-content{
	width: 70%;
  }
  .text-description{
	margin: 40px 0px;
  }
  .textarea-description{
	width: 100%;
	height:50%;
  }
  .title-header{
	width: 70%;
  }

